@model LiberacionProductoWeb.Models.ConfigViewModels.ConfiguracionUsuarioVM;
@using Microsoft.Extensions.Localization;
@using LiberacionProductoWeb.Localize;
@using LiberacionProductoWeb.Helpers;
@using System.Globalization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<Resource> resource;
@{
    ViewData["Title"] = "Reporte Audit Trail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var select = resource.GetString("Select");
    var selectPlant = resource.GetString("SelectPlant");
    var selectProduct = resource.GetString("SelectProduct");
    var selectAction = resource.GetString("SelectAction");
    var selectState = resource.GetString("SelectState");
    var startDate = resource.GetString("StartDate");
    var endDate = resource.GetString("EndDate");
    var plant = resource.GetString("Plant");
    var tank = resource.GetString("Tank");
    var product = resource.GetString("Product");
    var state = resource.GetString("State");
    var action = resource.GetString("Action");
    var btnFind = resource.GetString("BtnFind");
    var btnFilter = resource.GetString("BtnFilter");
    var notInformation = resource.GetString("NoInformation");
    var lengthMenu = resource.GetString("LengthMenu");
    var searchPlaceholder = resource.GetString("SearchPlaceholder");
    var info = resource.GetString("Info");
    var emptyTable = resource.GetString("EmptyTable");
    var paginatefirst = resource.GetString("Paginatefirst");
    var paginatelast = resource.GetString("Paginatelast");
    var pageNext = resource.GetString("PageNext");
    var pagePreviuos = resource.GetString("PagePreviuos");
    var loadingRecords = resource.GetString("LoadingRecords");
    var processing = resource.GetString("Processing");
    var zeroRecords = resource.GetString("ZeroRecords");
    var infoEmpty = resource.GetString("InfoEmpty");
    var infoFiltered = resource.GetString("InfoFiltered");
    var validateStartDateEndDate = resource.GetString("ValidateStartDateEndDate");
    DateTimeFormatInfo usDtfi = new CultureInfo("en-US", true).DateTimeFormat;
    //var startdate = Convert.ToDateTime(Model.StartDate.ToString("yyyy/MM/dd"), usDtfi);
    //var enddate = Convert.ToDateTime(Model.EndDate.ToString("yyyy/MM/dd"), usDtfi);
}

<!-- Navigation -->
<div id="top-menu" class="top-menu">
    <!-- begin sidebar scrollbar -->
    <div class="container-fluid">
        <!-- begin sidebar nav -->
        <ul class="nav">

            @if (User.Identity.IsAuthenticated)
            {
                @* <li class="nav-header">Menú</li> *@
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        @* <i class="fa fa-clipboard-list"></i> *@
                        <span>Mis tareas pendientes</span>
                    </a>
                </li>
                <li>
                    @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.CONSULTAR_EXPEDIENTE_DE_LOTE))
                    {
                        <a asp-controller="QuerysFiles" asp-action="Index">
                            @* <i class="fa fa-file-alt"></i> *@
                            <span>Consulta de expediente de lote</span>

                        </a>
                    }
                </li>
                <li>
                    @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.CONSULTA_GENERAL))
                    {
                        <a asp-controller="QuerysGeneral" asp-action="Index">
                            @* <i class="fa fa-search"></i> *@
                            <span>Consulta general</span>
                        </a>
                    }
                </li>
                <li class="has-sub active">
                    <a href="javascript:;">
                        @* <i class="fa fa-chart-line"></i> *@
                        <span>Reportes</span>
                    </a>
                    <ul class="sub-menu">
                        @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.CONSULTAR_RAP_TANQUES))
                        {
                            <li><a href="@Url.Action("Index", "RAPTanques")">RAP - Tanques</a></li>
                        }
                        @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.CONSULTAR_RAP_PIPAS))
                        {
                            <li><a href="@Url.Action("Index", "RAPPipas")">RAP - Pipas</a></li>
                        }
                        @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.CONSULTAR_REPORTE_AUDIT_TRAIL))
                        {
                            <li><a href="@Url.Action("Index", "ReportAuditTrail")">Reporte Audit Trail</a></li>
                        }
                    </ul>
                </li>

            }
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div id="content" class="content">


    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Reporte Audit Trail</a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Reporte Audit Trail</h1>
    <!-- end page-header -->


    <div class="section-container PantallaPrincipalContenedor section-with-top-border p-b-10">
        <form autocomplete="off" id="formSearch">
            <div class="row">
                <div class="col-lg-5">
                    <br />
                </div>
                <div class="col-lg-4">
                    <div><b>Período de revisión:</b></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 m-b-15">
                    <label for="Plant" class="ml-md-2 mr-sm-2">@plant: </label>
                    <select multiple asp-for="SelectedPlantsFilter" asp-items="Model.ListPlants"
                            class="selectpicker show-menu-arrow combobox" data-style="btn-inverse" data-live-search="true"
                            title="Selecciona"  onchange="getProducts(this)">
                    </select>
                </div>
                <div class="col-lg-2 m-b-15 m-l-10">
                    <label for="Product" class="ml-md-2 mr-sm-2">@product: </label>
                    <select multiple asp-for="SelectedProductsFilter" 
                            class="selectpicker show-menu-arrow combobox" data-style="btn-inverse" data-live-search="true"
                            title="Selecciona">
                    </select>
                </div>
                <div class="col-lg-2 m-b-15 m-l-10">
                    <label for="StartDate" class="ml-md-2 mr-sm-2">@startDate: </label>
                    <input id="StartDate" name="StartDate" onchange="checkDate()" value="@Model.StartDate"
                           class="form-control date-format" autocomplete=off placeholder="@select" />
                    <label id="StartDate-error" class="error" for="StartDate"></label>
                </div>
                <div class="col-lg-2 m-b-15">
                    <label for="EndDate" class="ml-md-2 mr-sm-2">@endDate:</label>
                    <input id="EndDate" name="EndDate" onchange="checkDate()" value="@Model.EndDate"
                           class="form-control date-format" autocomplete=off placeholder="@select" />
                    <label id="EndDate-error" class="error" for="EndDate"></label>
                </div>
            </div>
            <br />
            <div class="form-inline col-md-14">
                <label for="User" class="mr-sm-2">Usuario: </label>
                <select multiple asp-for="SelectedUserFilter" asp-items="Model.ListUsers"
                        class="selectpicker show-menu-arrow combobox" data-style="btn-inverse" data-live-search="true"
                        title="@selectAction">
                </select>

                <label for="Action" class="mr-sm-2">@action: </label>
                <select multiple asp-for="SelectedActionFilter" asp-items="Model.ListActions"
                        class="selectpicker show-menu-arrow combobox" data-style="btn-inverse" data-live-search="true"
                        title="@selectAction">
                </select>
            </div>

            <div class="pull-right">

                <button type="submit" class="btn btn-inverse" onclick="Search()" id="BtnFind">Buscar</button>
                <a href="@Url.Action("ClearFilters", "ReportAuditTrail" )" class="btn btn-white m-r-5">
                    <i class="fa fa-eraser"></i> Limpiar filtros
                </a>

            </div>
            <br />
        </form>
        <br />
        <div class="text-center">
            <div class="text-center">
                @Html.ValidationMessage("Error", new { @class = "text-danger" })
                <!-- Mensaje de error -->
                <div class="col-md-12" id="message"></div>
            </div>
        </div>
    </div>
    <div class="section-container section-with-top-border p-b-5">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="btn-group pull-left">

                        <a href="javascript:;" class="btn btn-white m-r-5" id="ExporttoExcel">
                            <i class="fa fa-file-excel"></i> Exportar a excel
                        </a>

                    </div>
                    <div class="btn-group pull-right">
                        <a href="javascript:;" class="btn btn-white m-r-5" id="ClearFilters">
                            <i class="fa fa-eraser"></i>Limpiar filtros
                        </a>
                    </div>
                    <h4 class="panel-title">
                        &nbsp;
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" hidden="hidden">Id</th>
                                    <th scope="col">Fecha y hora</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Planta</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Funcionalidad</th>
                                    <th scope="col">Valor anterior</th>
                                    <th scope="col">Valor nuevo</th>
                                    <th scope="col">Accion</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Lote de producción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ListReportAudit != null)
                                {
                                    @foreach (var entry in Model.ListReportAudit)
                                    {

                                        <tr>
                                            <td hidden="hidden">
                                                <a href="javascript:void(0)" onclick="deleteOnClick(this); return false;"
                                                   data-id="@entry.Id" class="btn btn-default btn-xs">
                                                    <i class="fa fa-trash-alt"></i>
                                                </a>
                                                <a href='javascript:void(0)' onclick='editOnClick(this);return false;'
                                                   id='editData' class='btn btn-default btn-xs' data-id='@entry.Id'>
                                                    <i class='fa fa-edit'></i>
                                                </a>
                                                @entry.Id
                                            </td>
                                            <td>
                                                @entry.Date.ToString("yyyy-MM-dd HH:mm")
                                            </td>
                                            <td>
                                                @entry.User
                                            </td>
                                            <td>
                                                @entry.Plant
                                            </td>
                                            <td>
                                                @entry.Product
                                            </td>
                                            <td>
                                                @entry.Funcionality
                                            </td>
                                            <td>
                                                @entry.PreviousVal
                                            </td>
                                            <td>
                                                @entry.NewVal
                                            </td>
                                            <td>
                                                @entry.Action
                                            </td>
                                            <td>
                                                @entry.Detail
                                            </td>
                                            <td>
                                                @if (entry.Controller == "ProductionOrder" || entry.Controller == "ConditioningOrder")
                                                {
                                                    if (entry.DistribuitionBatch == "NA")
                                                    {
                                                        <a href="/ProductionOrder/Index?Id=@entry.ProductionOrderId">@resource.GetString("ForLotify").Value</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/ProductionOrder/Index?Id=@entry.ProductionOrderId">@entry.DistribuitionBatch</a>
                                                    }
                                                }
                                                else
                                                {
                                                    @entry.DistribuitionBatch
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@section Styles {

    <link href="~/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="~/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />

    <link href="~/plugins/jquery/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts {

    <environment names="Development,Staging,Production">
        <script src="~/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
        <script src="~/plugins/gritter/js/jquery.gritter.js"></script>
        <script src="~/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
        <script src="~/plugins/bootstrap-select/bootstrap-select.js"></script>
        <script src="~/plugins/select2/dist/js/select2.min.js"></script>
        <script src="~/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
        <script src="~/plugins/DataTables/media/js/jquery.dataTables.js"></script>
        <script src="~/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
        <script src="~/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
        <script src="~/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
        <script src="~/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/plugins/gritter/js/jquery.gritter.js"></script>
        <script src="~/plugins/bootbox/js/bootbox.all.min.js"></script>
        <script src="~/js/demo.min.js"></script>
        <script src="~/js/apps.min.js"></script>
        <script src="~/js/catalogs.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/js/linde.js"></script>
    </environment>
    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
    $(function () {
        $("#StartDate").datepicker({
            dateFormat: 'yy/mm/dd'
        });

        $("#EndDate").datepicker({
            dateFormat: 'yy/mm/dd'
        });
        var dateStart = $("#StartDate").val()
        if ($("#StartDate").val() != "") {
            dateStart = dateStart.replace(" 0:00:00", "");
            const myArr = dateStart.split("/");
            $("#StartDate").val(myArr[2] + "/" + myArr[1] + "/" + myArr[0]);
        }
        var dateEnd = $("#EndDate").val()
        if ($("#EndDate").val() != "") {
            dateEnd = dateEnd.replace(" 0:00:00", "");
            const myArr = dateEnd.split("/");
            $("#EndDate").val(myArr[2] + "/" + myArr[1] + "/" + myArr[0]);
        }
    });


    function checkDate() {
        var startdateCheck = $("#StartDate").datepicker("getDate");
        var enddateCheck = $("#EndDate").datepicker("getDate");
        $("#formSearch").valid();
        if (startdateCheck != null && enddateCheck != null) {
            if (enddateCheck < startdateCheck) {
                $('#message').append('<div class="alert alert-danger"> <a class="close" data-dismiss="alert" href="#">&times;</a>La fecha final no debe ser menor a la fecha inicial </div>');
                $("#BtnFind").attr('disabled', true);
            }
            else {
                $("#BtnFind").attr('disabled', false);
                $('#message').empty();
            }
        }
    }

    $(function () {

        if ('@Model.MensajeError'.length > 1) {
            $('#message').append('<div class="alert alert-danger"> <a class="close" data-dismiss="alert" href="#">&times;</a>@Model.MensajeError </div>');
        }
    });

    $(function () {

        if ('@Model.MensajeInfo'.length > 1) {
            $('#message').append('<div class="alert alert-success"> <a class="close" data-dismiss="alert" href="#">&times;</a>@Model.MensajeInfo </div>');
        }
    });

    var saveOnClick = function (event) {

        bootbox.confirm({
            message: "¿Deseas guardar los cambios?",
            buttons: {
                confirm: {
                    label: 'Si',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    saveConfirm(event);
                }
            }
        });


    };

    $(document).ready(function () {
        App.init();
        Demo.init();
        configValidations();
        //radioswitch.init()
        //$("#form").validate();
        $('#data-table thead tr').clone(true).appendTo('#data-table thead');
        $('#data-table thead tr:eq(1) th').each(function (i) {

            if (i === 0)
                return;

            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });
        var table = $("#data-table").DataTable({

            pageLength: 20,
            orderCellsTop: true,
            fixedHeader: true,
            bLengthChange: false,
            bFilter: true,
            bAutoWidth: false,
            searching: true,
            sDom: 'lrtip',
            "bInfo": false,
            buttons: [
                {
                    extend: 'csv',
                    charset: 'utf-8',
                    bom: true,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    },
                }
            ],
            "language": {
                "search": '<a href="@Url.Action("Index", "home" )" class="btn btn-white m-r-5"><i class="fa fa-eraser"></i> @btnFilter</a> <br><div><i class="fa fa-filter" aria-hidden="true"></i>Buscar',
                "searchPlaceholder": '@searchPlaceholder',
                "emptyTable": "@emptyTable",
                "lengthMenu": "@lengthMenu",
                "info": "@info",
                "paginate": {
                    "first": "@paginatefirst",
                    "last": "@paginatelast",
                    "next": "@pageNext",
                    "previous": "@pagePreviuos"
                },
                "loadingRecords": "@loadingRecords",
                "processing": "@processing",
                "zeroRecords": "@zeroRecords",
                "infoEmpty": "@infoEmpty",
                "infoFiltered": "@infoFiltered",
            },
            "order": [],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]

        });
        $("#ExporttoExcel").on("click", function () {
            table.button('.buttons-csv').trigger();
        });
        $("#ClearFilters").on("click", function () {

            $('#data-table thead tr:eq(1) th').each(function (i) {
                if (i === 0)
                    return;
                $('input', this).val("").change();
            });


        });
        $('#add-entry').on('click', function (event) {
            event.preventDefault();

            //$('#addGeneralCatalog').modal('show');

            if (!isCreate) {
                isCreate = true;
                $("#ExporttoExcel").addClass("disabled");
                $('#data-table tr:eq(1)').after(getNewRow());
            }
            $('.selectpicker').selectpicker();
        });
        //Data Table manipulation
        //$.fn.dataTable.render.moment("M/D/YYYY");
        $('.selectpicker').selectpicker();

        if (!isNullOrEmpty(params['SelectedPlantsFilter'])) {
            $('#SelectedPlantsFilter').val(params['SelectedPlantsFilter'].split(','))
            getProducts("#SelectedPlantsFilter")
            $('#SelectedPlantsFilter').selectpicker('refresh');
        }
    });
    function configValidations() {
        $("#formSearch").validate({
            rules: {
                "StartDate": {
                    required: function (element) {
                        return !!$("#EndDate").val();
                    }
                },
                "EndDate": {
                    required: function (element) {
                        return !!$("#StartDate").val();
                    }
                },
            },
            messages: {
                "StartDate": {
                    required: "Es requerido."
                },
                "EndDate": {
                    required: "Es requerido."
                },
            },
            highlight: function (element, errorClass) {
                // Override the default behavior here
            }
        });
        }

    var getProducts = function (element) {
            const plantId = $(element).val()

            $.ajax({
                type: "GET",
                url: "/Home/GetProduts?plantId=" + plantId,
                success: function (response) {
                    $("#SelectedProductsFilter").empty()
                    $("#SelectedTanksFilter").empty()

                    $("#SelectedProductsFilter").prop("disabled", false)
                    $("#SelectedTanksFilter").prop("disabled", true)

                    response.data.forEach(function (item) {
                        $("#SelectedProductsFilter").append($('<option>', {
                            value: item.value,
                            text: item.text
                        }))
                    });

                    $('#SelectedProductsFilter').selectpicker('refresh');

                    if (!isNullOrEmpty(params['SelectedProductsFilter'])) {
                        $('#SelectedProductsFilter').val(params['SelectedProductsFilter'].split(','))

                        $('#SelectedProductsFilter').selectpicker('refresh');
                    }
                }
            });
        }

        var Search = function () {
        const plants = $("#SelectedPlantsFilter").val()
        const products = $("#SelectedProductsFilter").val()
        const start = $("#StartDate").val()
        const end = $("#EndDate").val()
        const users = $("#SelectedUserFilter").val()
        const action = $("#SelectedActionFilter").val()

        var url = '@Url.Action("Index", "ReportAuditTrail")';
            window.location.href = `${url}?SelectedPlantsFilter=${plants}&SelectedProductsFilter=${products}&StartDate=${start}&EndDate=${end}&SelectedUserFilter=${users}&SelectedActionFilter=${action}`;
    };

    </script>
}
<style>
    .error {
        position: unset !important;
        margin-left: unset !important;
        width: auto !important;
        color: red;
        background-color: pink;
    }
</style>