@model LiberacionProductoWeb.Models.CatalogsViewModels.StabilityViewModel;
@using Microsoft.Extensions.Localization;
@using LiberacionProductoWeb.Localize;
@using LiberacionProductoWeb.Helpers;
@using System.Globalization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<Resource> resource;
@{
    ViewData["Title"] = "Estudio de Estabilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var btnFind = resource.GetString("BtnFind");
    var btnFilter = resource.GetString("BtnFilter");
    var lengthMenu = resource.GetString("LengthMenu");
    var searchPlaceholder = resource.GetString("SearchPlaceholder");
    var info = resource.GetString("Info");
    var emptyTable = resource.GetString("EmptyTable");
    var paginatefirst = resource.GetString("Paginatefirst");
    var paginatelast = resource.GetString("Paginatelast");
    var pageNext = resource.GetString("PageNext");
    var pagePreviuos = resource.GetString("PagePreviuos");
    var loadingRecords = resource.GetString("LoadingRecords");
    var processing = resource.GetString("Processing");
    var zeroRecords = resource.GetString("ZeroRecords");
    var infoEmpty = resource.GetString("InfoEmpty");
    var infoFiltered = resource.GetString("InfoFiltered");
}

@await Html.PartialAsync("~/Views/Shared/_Navigation.cshtml")

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div id="content" class="content">


    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Catálogos</a></li>
        <li class="breadcrumb-item active">Estudio de estabilidad</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Estudio de estabilidad del producto</h1>
    <!-- end page-header -->


    <div class="section-container section-with-top-border p-b-10">
        <div class="row">

            <div class="col-lg-20">
                <form>
                    <div class="row">
                        <div class="col-lg-4 m-b-15">
                            <div class="m-b-5"><b>Planta:</b></div>
                            <div class="input-group">
                                <select multiple asp-for="SelectedPlantsFilter" asp-items="Model.PlantsFilter"
                                        class="selectpicker show-menu-arrow" data-style="btn-inverse"
                                        data-live-search="true" title="Selecciona"> </select>
                            </div>
                        </div>
                        <div class="col-lg-4 m-b-15">
                            <div class="m-b-5"><b>Producto:</b></div>

                            <select multiple asp-for="SelectedProductsFilter" asp-items="Model.ProductsFilter"
                                    class="selectpicker show-menu-arrow combobox" data-style="btn-inverse"
                                    data-live-search="true" title="Selecciona">
                            </select>
                        </div>


                        <div class="col-lg-4 m-b-15">
                            <div class="m-b-5"> &nbsp; </div>
                            <div class="input-group">

                                <button type="submit" class="btn btn-inverse">Buscar</button>
                                <a href="@Url.Action("ClearFiltersStability", "Catalogs" )"
                                   class="btn btn-white m-r-5"><i class="fa fa-eraser"></i> Limpiar filtros</a>

                            </div>
                        </div>


                    </div>


                </form>
            </div>

        </div>

    </div>


    <div class="section-container section-with-top-border p-b-5">




        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    <div class="btn-group pull-left">
                        @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.EDITAR_CATALOGO_ESTUDIO_DE_ESTABILIDAD_DEL_PRODUCTO))
                        {
                            <a href="javascript:;" class="waves-effect waves-light btn btn-white m-r-5" id="add-entry">
                                <i class="fa fa-plus"></i> Agregar registro
                            </a>
                        }
                        <a href="javascript:;" class="btn btn-white m-r-5" id="ExporttoExcel">
                            <i class="fa fa-file-excel"></i> Exportar a excel
                        </a>

                    </div>
                    <div class="btn-group pull-right">
                        <a href="javascript:;" class="btn btn-white m-r-5" id="ClearFilters">
                            <i class="fa fa-eraser"></i>Limpiar filtros
                        </a>
                    </div>

                    <h4 class="panel-title">
                        &nbsp;
                    </h4>
                </div>

                <!-- Mensaje de error -->
                <div class="col-md-12" id="message"></div>
                <div class="panel-body">

                    <div>
                        <table id="data-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="width:1%"></th>
                                    <th style="white-space: nowrap">Planta</th>
                                    <th style="white-space: nowrap">Producto</th>
                                    <th style="white-space: nowrap">Fecha de estudio</th>
                                    <th style="white-space: nowrap">Código</th>
                                    <th style="white-space: nowrap">Observaciones</th>
                                    <th style="white-space: nowrap">Estado</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var entry in Model.StabilityList)
                                {

                                    <tr>
                                        <td>
                                            @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.ELIMINAR_REGISTRO_DE_CATALOGO_ESTUDIO_DE_ESTABILIDAD_DEL_PRODUCTO))
                                            {
                                                <a href="javascript:void(0)" onclick="deleteOnClick(this); return false;" data-id="@entry.Id" class="btn btn-default btn-xs">
                                                    <i class="fa fa-trash-alt"></i>
                                                </a>
                                            }
                                            @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.EDITAR_CATALOGO_ESTUDIO_DE_ESTABILIDAD_DEL_PRODUCTO))
                                            {
                                                <a href='javascript:void(0)' onclick='editOnClick(this);return false;' id='editData' class='btn btn-default btn-xs' data-id='@entry.Id'>
                                                    <i class='fa fa-edit'></i>
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            @entry.PlantId
                                        </td>
                                        <td>
                                            @entry.ProductId
                                        </td>
                                        <td>
                                            @entry.StudyDate.ToString("yyyy-MM-dd")
                                        </td>
                                        <td>
                                            @entry.Code
                                        </td>
                                        <td>
                                            @entry.Observations
                                        </td>
                                        <td>
                                            @{
                                                if (Convert.ToBoolean(entry.Status))
                                                {
                                                    @: Activo
                                                }
                                                else
                                                {
                                                    @: Inactivo
                                                }
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>



            </div>

        </div>

    </div>

</div>

@section Styles {


    <link href="~/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="~/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />


    <link href="~/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />

    <link href="~/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/plugins/jquery/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts {

    <environment names="Development,Staging,Production">
        <script src="~/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>

        <script src="~/plugins/gritter/js/jquery.gritter.js"></script>

        <script src="~/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
        <script src="~/plugins/bootstrap-select/bootstrap-select.js"></script>
        <script src="~/plugins/select2/dist/js/select2.min.js"></script>


        <script src="~/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>


        <script src="~/plugins/DataTables/media/js/jquery.dataTables.js"></script>
        <script src="~/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
        <script src="~/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

        <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

        <script src="~/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
        <script src="~/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
        <script src="~/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>

        <script src="~/plugins/gritter/js/jquery.gritter.js"></script>
        <script src="~/plugins/bootbox/js/bootbox.all.min.js"></script>

        <script src="~/js/demo.min.js"></script>
        <script src="~/js/apps.min.js"></script>
        <script src="~/js/catalogs.js"></script>
    </environment>



    <script>
    $(function () {

        if ('@Model.MensajeError'.length > 1) {
            $('#message').append('<div class="alert alert-danger"> <a class="close" data-dismiss="alert" href="#">&times;</a>@Model.MensajeError </div>');
        }
    });

    $(function () {

        if ('@Model.MensajeInfo'.length > 1) {
            $('#message').append('<div class="alert alert-success"> <a class="close" data-dismiss="alert" href="#">&times;</a>@Model.MensajeInfo </div>');
        }
    });



    var refresh = function () {
        window.location.href = '@Url.Action("Stability","Catalogs")';
    }

    var deleteOnClick = function (event) {

        bootbox.confirm({
            message: "¿Deseas eliminar el registro?",
            buttons: {
                confirm: {
                    label: 'Si',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    deleteConfirm(event);
                }
            }
        });

    };

    var deleteConfirm = function (event) {

        var id = $(event).data("id");
        if (id === -1) {
            id = "";
        }

        $.ajax({
            type: "POST",
            url: "/Catalogs/DeleteStability/" + id,
            dataType: "json",
            success: function (response) {
                if (response.message) {
                    $.gritter.add({
                        title: "Error",
                        text: response.message,
                        class_name: "gritter-light"
                    })
                } else {
                    //sucess add, needs to refresh and show message
                    window.location.href = '@Url.Action("Stability","Catalogs")';
                }
            },
            failure: function (response) {
                $.gritter.add({
                    title: "Error",
                    text: "Ocurrio un error, por favor comunicate con el Administrador",
                    class_name: "gritter-light"
                })
            }
        });

    }


    @{

        var plantsTag = "<select multiple id='plants' class='selectpicker show-menu-arrow' data-style='btn-white' data-live-search='true' title='Selecciona'>";

        foreach (var item in Model.PlantsFilter)
        {
        plantsTag += "<option value='" + item.Value + "'>" + item.Text + "</option>";

        }

        plantsTag += "</select>";

        var productsTag = "<select id='producto' class='form-control' data-style='btn-white'  title='Selecciona'>";

        foreach (var item in Model.ProductsFilter)
        {
        productsTag += "<option value='" + item.Value + "'>" + item.Text + "</option>";

        }

        productsTag += "</select>";


        }


        var getEditRow = function (Id) {

        var ret = null;
        $.ajax({
            async: false,
            url: "/Catalogs/GetStabilityHTMLTagsById/" + Id,
            dataType: "json",
            success: function (data) {
                ret = data.html;

            }
        });

        return ret;

    };


    var getNewRow = function () {
        var result = "<tr>" +
            "<td> <a href='javascript:void(0)' onclick='removeOnClick(this);return false;'  class='delete-data btn btn-danger btn-xs btn-space' data-id='-1' title='Cancelar'><i class='fa fa-times-circle'></i></a>" +
            "<a href='javascript:void(0)' onclick='saveOnClick(this);return false;' id='saveData' class='save-data btn btn-info btn-xs btn-space' data-id='-1' ><i class='fa fa-save'></i></a> </td>" +
            "<td>@Html.Raw(plantsTag)</td>" +
            "<td>@Html.Raw(productsTag)</td>" +
            "<td><input class='date form-control' id='date' type='text'></td>" +
            "<td><input class='form-control' id='code' type='text'></td>" +
            "<td><input class='form-control' id='obs' type='text'></td>" +
            "<td><select id='status' class='form-control'><option  value='true'>Activo</option><option value='false'>Inactivo</option></select> </td>" +
            "</tr>"
        return result;
    };



    var removeOnClick = function (event) {
        $(event).closest("tr").remove();
        $("#ExporttoExcel").removeClass("disabled");
        $("#add-entry").removeClass("disabled");
    };

    var isEdit = false;
    var isCreate = false;

    var editOnClick = function (event) {

        var Id = $(event).data("id");

        if (!isEdit) {
            //remueve y pinta los controles
            isEdit = true;
            $("#add-entry").addClass("disabled");
            $("#ExporttoExcel").addClass("disabled");

            $(event).closest("tr").replaceWith(getEditRow(Id));
            $('.date').datepicker({ maxDate: '0' });
        }
    };


    var saveConfirm = function (event) {

        if (isEdit) {
            $("#add-entry").removeClass("disabled");
            $("#ExporttoExcel").removeClass("disabled");
        }

        isEdit = false;
        isCreate = false;

        var id = $(event).data("id");

        if (id === -1) {
            id = "";
        }

        var planta = "";
        var producto = "";
        var tanque = "";
        var code = "";
        var date = "";
        var obs = "";
        var estado = "";



        $(event).closest("tr").each(function () {
            $.each(this.cells, function () {
                //gets values for each cell

                if (id) {

                    if ($(this).find("#plants").length) {
                        planta = $(this).find("#plants").val();
                    }

                } else {
                    if ($(this).find("#plants").length) {
                        planta = $(this).find("#plants").val().join(', ');
                    }

                }

                if ($(this).find("#producto").length) {
                    producto = $(this).find("#producto").val();
                }

                if ($(this).find("#code").length) {
                    code = $(this).find("#code").val();
                }
                if ($(this).find("#date").length) {
                    date = $(this).find("#date").val();
                }
                if ($(this).find("#obs").length) {
                    obs = $(this).find("#obs").val();
                }


                if ($(this).find("#status").length) {
                    estado = $(this).find("#status").val();
                }
            });
        });




        $.ajax({
            type: "POST",
            url: "/Catalogs/SaveOrEditStability",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify({
                id: String(id),
                planta: planta,
                producto: producto,
                tanque: "1",
                date: date,
                code: code,
                status: estado,
                obs: obs



            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {


                if (response.message) {

                    $.gritter.add({
                        title: "Error",
                        text: response.message,
                        class_name: "gritter-light"
                    })
                } else {
                    //sucess add, needs to refresh and show message
                    window.location.href = '@Url.Action("Stability","Catalogs")';
                }

            },
            failure: function (response) {

                //failure, shgow messahe with error
                alert("Fail");

            }
        });

    }

    var saveOnClick = function (event) {

        bootbox.confirm({
            message: "¿Deseas guardar los cambios?",
            buttons: {
                confirm: {
                    label: 'Si',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    saveConfirm(event);
                }
            }
        });

    };


    $(document).ready(function () {

        App.init();
        Demo.init();

        $('.date').datepicker({ maxDate: '0' });

        //radioswitch.init()

        //$("#form").validate();

        $('#data-table thead tr').clone(true).appendTo('#data-table thead');
        $('#data-table thead tr:eq(1) th').each(function (i) {

            if (i === 0)
                return;

            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar" />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });


        var table = $("#data-table").DataTable(
            {
                pageLength: 20,
                orderCellsTop: true,
                fixedHeader: true,
                bLengthChange: false,
                bFilter: true,
                bAutoWidth: false,
                searching: true,
                sDom: 'lrtip',
                "bInfo": false,
                buttons: [
                    {
                        extend: 'csv',
                        charset: 'utf-8',
                        bom: true
                    }
                ],
                "dom": 'rtp',
                "language": {
                    "search": '<a href="@Url.Action("Index", "home" )" class="btn btn-white m-r-5"><i class="fa fa-eraser"></i> @btnFilter</a> <br><div><i class="fa fa-filter" aria-hidden="true"></i>Buscar',
                    "searchPlaceholder": '@searchPlaceholder',
                    "emptyTable": "@emptyTable",
                    "lengthMenu": "@lengthMenu",
                    "info": "@info",
                    "paginate": {
                        "first": "@paginatefirst",
                        "last": "@paginatelast",
                        "next": "@pageNext",
                        "previous": "@pagePreviuos"
                    },
                    "loadingRecords": "@loadingRecords",
                    "processing": "@processing",
                    "zeroRecords": "@zeroRecords",
                    "infoEmpty": "@infoEmpty",
                    "infoFiltered": "@infoFiltered",
                },
                "order": [],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }],
                "oLanguage": {
                    "sEmptyTable": "No hay datos que mostrar.",
                    "sInfoEmpty": "No hay registros que mostrar."
                }

            });



        $("#ExporttoExcel").on("click", function () {
            table.button('.buttons-csv').trigger();
        });

        $("#ClearFilters").on("click", function () {

            $('#data-table thead tr:eq(1) th').each(function (i) {
                if (i === 0)
                    return;
                $('input', this).val("").change();
            });


        });


        $('#add-entry').on('click', function (event) {
            event.preventDefault();

            //$('#addGeneralCatalog').modal('show');
            $("#ExporttoExcel").addClass("disabled");
            $('#data-table tr:eq(1)').after(getNewRow());
            $("#add-entry").addClass("disabled")
            if (!isCreate) {
                isCreate = true;
                $("#ExporttoExcel").addClass("disabled");

                //  $('#data-table tr:eq(1)').after(getNewRow());
            }
            else {
                $("#add-entry").addClass("disabled");
            }
            $('.selectpicker').selectpicker({ maxDate: '0' });
            $('.date').datepicker();
        });


        //Data Table manipulation
        //$.fn.dataTable.render.moment("M/D/YYYY");




    });
    </script>

}
