@using Microsoft.AspNetCore.Mvc.Localization
@model LiberacionProductoWeb.Models.Principal.DetailOP
@inject IViewLocalizer Localizer

<div id="production-orders-container" class="row">
    <h1 class="page-header">Orden de producción</h1>
    <div class="panel panel-primary" style="width: 100%;">
        <div class="panel-heading">
            <div class="btn-group pull-left">
                <button type="button"  class="btn btn-white m-r-5" onclick="ExportPdfOP()">
                    <i class="fa fa-file-pdf"></i>
                    Exportar a PDF
                </button>
            </div>
        </div>
        <div class="panel-body">
            @if (Model == null)
            {
                <p>NA</p>
            }
            else
            {
                <table id="tableOP" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Estado</th>
                            <th scope="col">Motivo de cancelación</th>
                            <th scope="col">Estado de calibración de equipos de monitoreo</th>
                            <th scope="col">Despeje de línea</th>
                            <th scope="col">Monitoreo de las etapas del proceso (gráficos)</th>
                            <th scope="col">Cromatograma</th>
                            <th scope="col">Lotificación</th>
                            <th scope="col">Orden de producción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.State</td>
                            <td>@Model.ReasonCancellation</td>
                            <td>@Model.CalibrationStatus</td>
                            <td>@Model.LineBreak</td>
                            <td>@Model.StageMonitoring</td>
                            <td>
                                @if (string.IsNullOrEmpty(Model.Chromotogram) && Model.ProductId == "NI")
                                {
                                    <span>Archivo no disponible</span>
                                }
                                else if (string.IsNullOrEmpty(Model.Chromotogram))
                                {
                                    <span>N/A</span>
                                }
                                else
                                {
                                    <a href="/QuerysFiles/DownloadFile?Id=@Model.ProductionOrder" target="_blank">Ver archivo</a>
                                }
                            </td>
                            <td>@Model.Lotification</td>
                            <td>
                                <a href="/ProductionOrder/Index?Id=@Model.ProductionOrder">Ver orden de producción</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>